/* - Family: [Manrope](https://fonts.google.com/specimen/Manrope) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* list-style: none; */
}
:root {
  /* accent-color: red; */
  /* ## Colors */

  /* ### Primary */
  --soft-cyan: hsl(174, 77%, 80%); /* (Full Slider Bar)*/
  --strong-cyan: hsl(174, 86%, 45%); /*(Slider Backround)*/
  --light-grayish-red: hsl(14, 92%, 95%); /*((Discount Background)*/
  --light-red: hsl(15, 100%, 70%); /* (Discount Text)*/
  --pale-blue: hsl(226, 100%, 87%); /*(CTA Text)*/

  /* ### Neutral */

  --white: hsl(0, 0%, 100%); /*(Pricing Component Background)*/
  --very-pale-blue: hsl(230, 100%, 99%); /*(Main Background)*/
  --light-grayish-blue: hsl(224, 65%, 95%); /*(Empty Slider Bar)*/
  --light-grayish-blue: hsl(223, 50%, 87%); /*(Toggle Background)*/
  --grayish-blue: hsl(225, 20%, 60%); /*(Text)*/
  --dark-desaturated-blue: hsl(227, 35%, 25%); /*(Text & CTA Background)*/
}
html {
  font-size: 62.5%;
}
[class~="text"] {
  color: var(--grayish-blue);
}
body {
  height: 100vh;
}
button:hover {
  cursor: pointer;
}
main {
  display: grid;
  place-content: center;
  position: relative;
  background-color: rebeccapurple;
  height: 100vh;
  background-color: var(--very-pale-blue);
}
.banner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-image: url(/public/images/bg-pattern.svg);
  height: 45vh;
  background-position: cover;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  /* display: grid; */
  /* place-content: center; */
}
.banner h3.intro {
  color: var(--dark-desaturated-blue);
  font-size: 2.3rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.banner .signup__motivation {
  text-align: center;
  font-size: 1.75rem;
  margin-inline: auto;
  line-height: 1.5;
  color: var(--grayish-blue);
}
.banner .banner__content__wrapper {
  position: relative;
  margin-top: 5rem;
  margin-inline: auto;

  text-align: center;
}
img.pattern {
  position: absolute;
  width: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* head */

.card {
  background-color: var(--white);
  border-radius: 0.5rem;
  z-index: 2;
  width: min(80vw, 600px);
  margin-top: 7rem;
  box-shadow: 0px 10px 5px 1px var(--light-grayish-blue);
}
.card .interaction {
  border-bottom: 1px solid var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.35rem;
  padding: calc(1vw + 1.2rem);
}

.card .interaction .page_views {
  font-size: 1.5rem;
  text-align: center;
}
.card .prices .price {
  color: var(--dark-desaturated-blue);
  font-size: 3rem;
  font-weight: 600;
}
.card .prices .month {
  font-size: clamp(1.2rem, 2vw + 1rem, 2rem);
}
.billing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 1rem;
}
[class~="bill_msg"] {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

[class^="bill"] {
  gap: 1rem;
}
.month__btn {
  outline: none;
  border: none;
  background-color: var(--light-grayish-blue);
  border-radius: 100vmax;
  height: 1.5rem;
  width: 3rem;
  padding: 0.2rem;
  position: relative;
  cursor: pointer;
}
.month__btn:hover {
  background: var(--soft-cyan);
}
#role {
  background-color: var(--white);
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0.2rem;
  left: 0.4rem;
}
.discount {
  background-color: var(--light-grayish-red);
  border-radius: 100vmax;
  height: 2rem;
  width: 3rem;
  padding-block: calc(0.2rem + 0.3vw);
  padding-inline: calc(0.4rem + 0.3vw);
  position: relative;
  cursor: pointer;
  color: var(--light-red);
  font-weight: 600;
  font-size: clamp(1rem, 1vw + 0.55rem, 1.2rem);
}
/* info  */

.info {
  display: grid;
  place-content: center;
  padding-block: 2rem;
  padding: 2rem;
}
.info .offers ul {
  display: grid;
  gap: 1rem;
}
.info .offers ul li {
  list-style-image: url(/public/images/icon-check.svg);
  padding-left: 0.3rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.info .offers ul li.off {
  list-style-position: inside;
  padding-left: 1rem;
}

.offer__btn {
  outline: 1.5px solid var(--light-grayish-blue);
  border: none;
  padding: 1.75rem 3.5rem;
  border-radius: 100vmax;
  font-size: 1.5rem;
  color: var(--pale-blue);
  background-color: var(--dark-desaturated-blue);
  font-weight: 600;
  margin-top: 2rem;
}
/* Media query  */

@media screen and (orientation: landscape), (min-width: 520px) {
  .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 5rem;
  }
  .billing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-block: 1rem;
  }
  .info .offers ul li.off {
    list-style-position: outside;
  }
}
